
  <template>
  <div class="row h-100 colFondo">
    <component :is="layout" v-if="layout">
      <div id="ContainerEditarConfiguraciones" class="containerfluid p-3">
        <Cabecera mainRute="Configuracion" />

        <div class="d-flex" id="BarraSuperior">
          
          <router-link
            v-for="(tab, index) in tabs"
            :key="tab.id"
            v-bind:class="tab.marka ? 'activar-menu': 'menu-config'"
            :to="{ name: tab.label }"
            class=" menu-config text-nodec cont-menu-cat centrar"
            >
            <label class="h-100 w-100 centrar" v-on:click="markMenuConfig($event, index)">{{tab.label}}</label></router-link
          >
          
        </div>
      </div>
      <router-view />
    </component>
  </div>
</template>
<script>
export default {
  layout: "default",
  components: {
    productosLayout: () => import("../../Layouts/productosLayout.vue"),
    Cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      layout: "productosLayout",
      Cabecera: "Cabecera",
      tabs: [
        {
          id: 1,
          label: 'Categorias',
          marka: true
        },
        {
          id: 2,
          label: 'Atributos',
          marka: false
        },
      ]

    }
    
  },
  methods: {
    markMenuConfig($event, index) {
      this.tabs.forEach(tab => tab.marka = false)
      this.tabs[index].marka = !this.tabs[index].marka
    }
  },
}; 
</script>
<style >
.div-cat {
  width: 600px;
  justify-content: space-between;
  align-items: center;
}
.div-val {
  width: 600px;

  align-items: center;
}
.icon-categoria {
  width: 40px;
  padding: 3px;
}
.cont-1 {
  align-items: center;
}
.back-icono-cat {
  background-color: #dfe4e8;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}
.counter {
  width: 42px;
  height: 42px;
}
.opciones-categoria {
  width: 42px;
  height: 42px;
  align-content: center;
  justify-content: center;
}

.text-white {
  color: #ffff;
}
.contador{
  background: #dfe4e8 0% 0%;;
  border: #dfe4e8 solid;
  color: #637381;

}

.contador{
  background: #dfe4e8 0% 0%;
  border: #dfe4e8 solid;
}

.text-gray {
  color: #637381;
}

#input-atributo {
  background: #edf1f5;
  border: #dfe4e8 solid 2px;
  border-radius: 10px;
  width: 390px;
  height: 45px;
  padding-left: 20px;
  color: black;
}

.color-plus-button {
  background: #002351 0% 0% no-repeat padding-box;
  border: #002351 solid 1px;
}
.icon-dragable {
  width: 24px;
  height: 24px;
}

.text-categoria {
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  border: none;
  background: #f6f9fb;
  font-size: 20px;
}
.text-value {
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 20px;
  background: #edf1f5;
  border: #dfe4e8 solid 2px;
  font-size: 14px;
  border-radius: 10px;
  width: 260px;
  height: 45px;
}
.menu-config {
  color: #637381;
  border: none;
}
.cont-menu-cat {
  height: 45px;
  width: 130px;
}
.cont-menu-atri {
  height: 45px;
  width: 110px;
}

#BarraSuperior {
  border-bottom: #637381 solid 1px;
  margin-right: 5%;
}
/* swap style del menu de configuracion */
.activar-menu {
  border-bottom: #57a0ff solid 5px;
  color: #57a0ff;
}
</style>

