<template>
  <div class="row">
    <div class="col-12 col-xs-5 col-sm-5 col-md-5 col-lg-3">
      <div class="mt-4 justify-content-center">
        <img :src="Administrador.image" alt="ImgAdmin" class="ImgAdminMrg" />
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <!-- <router-link :to="{ name: 'EditarAdmin', params: { id: Administrador.id } }" > -->
        <div
          class="btn btn-primary textButn centrar iconEditDelete hover-btn-blue"
          @click="goToEdit(Administrador.id)"
        >
          <img
            class="filtro-white"
            src="../../../assets/icons/icon - editar.svg"
            alt="EditAdmin"
          />
        </div>
        <!-- </router-link> -->
        <div
          class="btn btn-primary textButn centrar iconEditDelete hover-btn-blue"
        >
          <img
            class="filtro-white"
            src="../../../assets/icons/icon - Eliminar.svg"
            alt="DeleteAdmin"
            data-bs-toggle="modal"
            data-bs-target="#modalEliminarAdmin"
          />
        </div>
      </div>
    </div>
    <div class="mt-4 col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="container">
      <div
        class="row text-title black"
        style="font: normal normal medium 16px/19px; font-weight:bold"
      >
        Acerca de {{ Administrador.nombres }}
      </div>
      <div class="row mb-5 black text-start">{{ Administrador.acerca }}</div>
      <div class="row align-items-center">
        <div class="d-flex">
          <img
            src="../../../assets/icons/Icon - correo.svg"
            alt="IconCorreo"
            class="iconDesAdmin my-auto"
            style="height:25px ;width:25px"
          />
          <div class="black" style="font-size:24px">
            {{ Administrador.email }}
          </div>
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="d-flex">
          <img
            to="/administradores/id/editar"
            src="../../../assets/icons/Icon - telefono.svg"
            alt="IconTelefono"
            class="iconDesAdmin my-auto"
            style="height:25px ;width:25px"
          />
          <div class="black" style="font-size:24px">
            {{ Administrador.telefono }}
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="d-flex">
        <img
          src="../../../assets/icons/icon - pass.svg"
          alt="IconoPass"
          class="iconDesAdmin my-auto"
          style="height:25px ;width:25px"
        />
        <div class="black" style="font-size:24px">
        ********
      </div></div>
      </div>
      </div>
    </div>
    <!-- modal eliminar -->
    <div
      class="modal fade"
      id="modalEliminarAdmin"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Eliminar administrador
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body m-3">¿Desea eliminar este administrador?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary  modal-dismiss style-but-modal"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              @click="deletearadmin(Administrador.id)"
              type="button"
              class="btn btn-guardar  modal-submit style-but-modal"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin modal -->
  </div>
</template>

<script>
import axios from "../../../services/user/auth.js";
export default {
  data() {
    return {
      name: "cadDescripcion",
    };
  },
  props: {
    Administrador: {
      default: null,
    },
  },
  methods: {
    async deletearadmin(id) {
      try {
        // let id = this.Administrador.id;

        axios.borrarAdmin(id).then(() => {
          this.$router.push({ name: "administradores" });
        });
      } catch (error) {
        return error;
      }
    },
    goToEdit(id) {
      this.$router.push({ name: "EditarAdmin", params: { id: id } });
    },
  },
};
</script>

<style scoped>
.iconEditDelete {
  text-align: center;
  width: 40px;
  height: 40px;
  margin-inline: 5px;
}

.iconDesAdmin{
 text-align: center;
  width: 40px;
  height: 40px;
}
.ImgAdminMrg {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  border: 1px solid rgb(228, 228, 228);
}
</style>