<template>
  <div class="row mt-5">
    <div class="col-2">
      <div id="AlingAdminImg" class="row justify-content-center">
            <slim-cropper :options="slimOptions" style="width:150px;height:150px">
              <input type="file" name="slim" />
            </slim-cropper>
      </div>
    </div>
    <div class="col-3 mx-2">
      <div class="row TextAling">
        <label for="IdNombreAdmin">Nombres</label>
        <input
          class="ClassInputCss"
          type="text"
          name="NombreAdmin"
          id="IdNombreAdmin"
          placeholder="Nombres"
          v-model="nombres"
        />
      </div>
      <div class="row TextAling">
        <label for="IdApellidosAdmin">Apellidos</label>
        <input
          class="ClassInputCss"
          type="text"
          name="ApellidosAdmin"
          id="IdApellidosAdmin"
          placeholder="Apellidos"
          v-model="apellidos"
        />
      </div>
      <div class="row TextAling">
        <label for="IdCorreoAdmin">Correo electronicó</label>
        <input
          class="ClassInputCss"
          type="text"
          name="CorreoAdmin"
          id="IdCorreoAdmin"
          placeholder="Correo electrónico"
          v-model="correo"
        />
      </div>
      <div class="row TextAling">
        <label for="IdPasswordAdmin">Contraseña</label>
        <input
          class="ClassInputCss"
          type="text"
          name="PasswordAdmin"
          id="IdPasswordAdmin"
          placeholder="Contraseña"
          v-model="password"
        />
      </div>
    </div>
    <div class="col-3 mx-2">
      <div class="row TextAling">
        <label for="IdAcercaAdmin"> acerca del admin </label>
        <textarea
          class="ClassDescripCss"
          type="text"
          name="AcercaAdmin"
          id="IdAcercaAdmin"
          placeholder="Acerca"
          maxlength="300"
          v-model="acercaAdmin"
        />
      </div>
      <div class="row TextAling">
        <label for="IdTelefonoAdmin">Teléfono celular</label>
        <input
          class="ClassInputCss"
          type="text"
          name="TelefonoAdmin"
          id="IdTelefonoAdmin"
          placeholder="Teléfono celular"
          v-model="telefono"
        />
      </div>
      <div class="row TextAling">
        <label for="IdRePasswordAdmin">Repetir contraseña</label>
        <input
          class="ClassInputCss"
          type="text"
          name="RePasswordAdmin"
          id="IdRePasswordAdmin"
          placeholder="Repetir contraseña"
          v-model="repassword"
        />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Default",
  props: {
    aunnotienexd: String,
  },
  data() {
    return {
      slimOptions: {
        label: "Subir imagen",
      },
      nombres:"",
      apellidos:"",
      correo:"",
      password:"",
      acercaAdmin:"",
      telefono:"",
      repassword:"",
    };
  },
};
</script>
