<template>
  <div class="row h-100 colFondo">
    <component :is="layout" v-if="layout">
      <div id="ContainerCrearProducto" class="containerfluid mt-5">
        <Cabecera
          titulo="Crear Producto"
          mainRute="Productos"
          ruta="Crear producto"
        >
          <div class="row" id="GuardarProducto">
            <router-link
              to="/productos/"
              id="GuardarProducto"
              class="btn btn-primary textButn hover-btn-blue"
            >
              Guardar
            </router-link>
          </div>
        </Cabecera>

        <div
          class="
            col-12 col-sm-6
            row
            justify-content-start
            black
            mb-3
            mt-5
            text-nowrap
          "
          style="font-size: 28px; font-weight: bold; margin-left: 30px"
        >
          Información general
        </div>

        <div class="row ms-2">
          <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-3">
            <div
              class="row justify-content-center TextAling"
              style="width: auto; margin-inline: auto"
            >
              <label for="IdNombreProd" style="width: 400px">Nombre</label>

              <input
                type="text"
                name="NombreProd"
                id="IdNombreProd"
                class="ClassInputCss"
                placeholder="Nombres"
              />
            </div>
            <div
              class="row justify-content-center TextAling"
              style="width: auto; margin-inline: auto"
            >
              <label
                for="IdSelectCategoria"
                class="margin-label-input"
                style="width: 400px"
                >Categoria</label
              >
              <select
                name="SelectCategoria"
                id="IdSelectCategoria"
                placeholder="holas"
                class="ClassInputCss"
              >
                <option selected>Seleccionar</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <div
              class="row justify-content-center TextAling"
              style="width: auto; margin-inline: auto"
            >
              <label
                for="IdDescripcionProd"
                class="margin-label-input"
                style="width: 400px"
                >Descripción del producto</label
              >
              <textarea
                maxlength="300"
                type="text"
                name="DescripcionProd"
                id="IdDescripcionProd"
                class="ClassInputCss"
                placeholder="Descripción"
              />
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-3">
            <div
              class="row justify-content-center TextAling"
              style="width: auto; margin-inline: auto"
            >
              <label
                for="IdSelectAtributo"
                id="label-select-atributos"
                style="width: 400px"
                >Atributos</label
              >
              <select
                name="select"
                id="IdSelectAtributo"
                class="ClassInputCss"
                style="margin-bottom: 22px"
              >
                <option value="">Añadir</option>
                <option>1</option>
                <option>3</option>
                <option>3</option>
              </select>
              <!-- card para listar atributos con variables -->
              <card-atributo />
            </div>
          </div>
          <div class="mt-5 container d-flex">
            <div class="black" style="font-size: 35px">Imagenes</div>
            <div class="centrar">
              <img
                src="../../assets/icons/icon - añadir.svg"
                alt="añadirFotoProd"
                style="width: 50px; heigth 50px;
              height: 25px"
                class="centrar"
              />
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3">
            <div class="text-start" style="margin-left: 30px">
              <input
                type="checkbox"
                class="checkbox-variables"
                id="activarAtributos"
                value="first_checkbox"
              />
              <label for="activarAtributos" class="mx-2"
                >Este es mi checkbox</label
              >
            </div>
            <div>
              <select
                name="SelectCategoria"
                id="idSelectCategoria"
                class="ClassInputCss"
              >
                <option value="">Añadir</option>
                q
                <option>1</option>
                <option>3</option>
                <option>3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>

<script>
import axiosCategorias from "../../services/categorias/CategoriaService.js";
import axiosAtributos from "../../services/atributos/atributoService.js";
export default {
  layout: "default",
  components: {
    productosLayout: () => import("../../Layouts/productosLayout.vue"),
    Cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      layout: "productosLayout",
      Cabecera: "Cabecera",
      checkboxn: "checkboxn",
      Atributos: [],
      Categorias: [],
      slimOptions: {
        label: "Subir imagen",
      },
    };
  },
  methods: {
    async selectAtributos() {
      const { data } = await axiosAtributos.indexAtributo();
      this.Atributos = data;
      console.log(this.Atributos);
    },
    async SelectCategorias() {
      const { data } = await axiosCategorias.indexCategoria();
      this.Categorias = data;
      console.log(this.Categorias);
    },
  },
  mounted() {
    this.selectAtributos();
    this.SelectCategorias();
  },
};
</script>

<style>
#IdDescripcionProd {
  height: 130px;
}
.head-atributo {
  border-bottom: 1px solid #dfe4e8;
  justify-content: space-between;
  height: 45px;
}
.card-atributo {
  border: 1px solid#DFE4E8;
  width: 400px;
  height: auto;
  border-radius: 8px;
  opacity: 1;
  margin-bottom: 22px;
}
</style>
<style scoped>
/* chekcbox tallas o atributos */
input[type="checkbox"] + label:before {
  content: "";
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 0;
  border: 2px solid #637381;
  border-radius: 2px;
  background: #fff;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before {
  border-color: #29d884;
}

input[type="checkbox"]:checked + label:after {
  content: "";
  width: 12px;
  height: 8px;
  border: 4px solid #29d884;
  float: left;
  border-right: 0;
  border-top: 0;
  margin-top: 5px;
  margin-left: -26px;
  transform: rotate(-55deg);
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  font-weight: bold;
  line-height: 18px;
  color: #637381;
}
input[type="checkbox"]:checked + label {
  color: #637381;
}
</style>


