<template>
  <div class="row h-100 c">
    <component :is="layout" v-if="layout">
      <div id="ContainerCrearAdmin" class="containerfluid prueba p-3">
        <Cabecera mainRute="Productos" ruta="Nombre producto xd" />
        <div class="d-flex position-relative justify-content-between">
          <h1 style="font-size: 50px" class="mb-4 text-title ellipsis">
            Guayos Predator FREAK.3
          </h1>
          <div style="padding-right: clamp(15px, 7%, 50px)">
            <div
              class="
                div-itm-cat
                btn btn-primary
                opciones-categoria
                textButn
                hover-btn-blue
              "
              style="margin-top: 4px"
            >
              <img
                class="filtro-white"
                src="../../../src/assets/icons/icon - editar.svg"
                alt="editarCategoria"
              />
            </div>
            <div
              class="
                div-itm-cat
                btn btn-primary
                mx-2
                opciones-categoria
                textButn
                hover-btn-blue
              "
              style="margin-top: 4px"
            >
              <img
                class="filtro-white"
                src="../../../src/assets/icons/icon - Eliminar.svg"
                alt="eliminarCategoria"
              />
            </div>
          </div>
        </div>
        <div class="d-flex mt-1">
          <div>
            <div id="containerImg" class="container d-flex">
              <img
                src="../../assets/icons/icon - chevron.svg"
                style="transform: rotate(90deg); width: 15px"
              />
              <img
                src="../../assets/predator1.png"
                class="mx-3"
                style="width: 380px; heigth: 380px"
                alt=""
              />
              <img
                src="../../assets/icons/icon - chevron.svg"
                style="transform: rotate(-90deg); width: 15px"
              />
            </div>
            <div id="containerSlider" class="container d-flex centrar">
              <img
                src="../../assets/predator1.png"
                class="img-slider"
                alt="slide1"
              /><img
                src="../../assets/predator2.png"
                class="img-slider"
                alt="slide2"
              /><img
                src="../../assets/predator3.png"
                class="img-slider"
                alt="slide3"
              />
            </div>
          </div>
          <div id="containerDescripcion" class="container ms-5">
            <div class="position-relative d-flex">
              <div class="black">Categroria</div>
              <img
                id="cat-bar"
                src="../../assets/icons/prods-bar.svg"
                style="width: 150px; height: 50px"
                class="position-absolute d-flex"
                alt=""
              />
            </div>
            <div class="mt-5">
              <div class="d-flex black -">Talla tenis:</div>
              <div class="d-flex">
                <input
                  type="checkbox"
                  id="check_1"
                  name="check_1"
                  value="check_1"
                />
                <label for="check_1">41</label>

                <input
                  type="checkbox"
                  id="check_2"
                  name="check_2"
                  value="check_2"
                />
                <label for="check_2">42</label>

                <input
                  type="checkbox"
                  id="check_3"
                  name="check_3"
                  value="check_3"
                />
                <label for="check_3">43</label>
              </div>
            </div>
            <div class="my-5">
              <div class="d-flex black">
                <span>colores solares:</span
                ><span style="color: grey; margin-left: 9px">
                  Iron metallic</span
                >
              </div>
              <div class="d-flex">
                <input
                  type="checkbox"
                  id="check_4"
                  name="check_4"
                  value="check_4"
                />
                <label for="check_4">41</label>

                <input
                  type="checkbox"
                  id="check_5"
                  name="check_5"
                  value="check_5"
                />
                <label for="check_5">42</label>

                <input
                  type="checkbox"
                  id="check_6"
                  name="check_6"
                  value="check_6"
                />
                <label for="check_6">43</label>
              </div>
            </div>
            <div id="DescripcionProdId">
              <h3 class="black">Descripcion</h3>
              <span class="black"
                >Cada vez que cruzas esa línea blanca, entras en un mundo
                completamente nuevo. Una realidad alterna en la que tú escribes
                las reglas. La cancha es tuya para controlar. Desata el demonio
                que llevas dentro con los adidas Predator.</span
              >
            </div>
          </div>
        </div>
        <div>
          <h2 class="black text-start" style="margin-top: 8pc">
            Precio por cantidad
          </h2>
          <div class="mb-2 ms-2">
            <div class="d-flex">
              <label for="precioInput" class="labelUp"> Precio</label>
              <label for="cantidadInput" class="labelUp"> Cantidad</label>
            </div>
            <div class="d-flex" style="margin-bottom: 2.3pc">
              <input
                class="style-input-price"
                name="cantidadprod"
                id="cantidadInput"
                type="text"
                v-model="cantidadprod"
                placeholder="Cantidad"
              />

              <input
                class="style-input-price"
                name="valorprod"
                id="precioInput"
                type="text"
                v-model="precioprod"
                placeholder="Precio"
              />
              <div
                class="
                  div-itm-cat
                  btn btn-primary
                  opciones-categoria
                  color-plus-button
                  mx-2
                  hover-btn-dark-blue
                "
                style="margin-top: 1px"
              >
                <img
                  class="filtro-white"
                  src="../../../src/assets/icons/icon - añadir.svg"
                  alt="editarCategoria"
                />
              </div>
            </div>
          </div>
          <div
            class="d-flex mx-2 align-items-center my-3"
            v-for="(price) in prices"
            :key="price.id"
          >
            <input
              type="text"
              class="style-input-price back-grey"
              :value="price.cantidad"
              disabled="disabled"
            />
            <input
              type="text"
              class="style-input-price back-grey"
              :value="symbol + price.precio"
              disabled="disabled"
            />
            <div
              class="
                div-itm-cat
                btn btn-primary
                opciones-categoria
                textButn
                hover-btn-blue
              "
              style="margin-left: 8px"
            >
              <img
                class="filtro-white"
                src="../../../src/assets/icons/icon - editar.svg"
                alt="editarCategoria"
              />
            </div>
            <div
              class="
                div-itm-cat
                btn btn-primary
                mx-2
                opciones-categoria
                textButn
                hover-btn-blue
              "
            >
              <img
                class="filtro-white"
                src="../../../src/assets/icons/icon - Eliminar.svg"
                alt="eliminarCategoria"
              />
            </div>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>
<script>
export default {
  layout: "default",
  components: {
    productosLayout: () => import("../../Layouts/productosLayout.vue"),
    Cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      layout: "productosLayout",
      Cabecera: "Cabecera",
      symbol: "$ ",
      precioprod:'',
      cantidadprod:'',
      prices: [
        {
          ind: 1,
          cantidad: "1",
          precio: "450.000",
        },
        {
          ind: 2,
          cantidad: "2",
          precio: "430.000",
        },
        {
          ind: 3,
          cantidad: "4",
          precio: "400.000",
        },
      ],
    };
  },
  methods: {
    
  },
};
</script>
<style >
.back-grey {
  background: #edf1f5;
}
.labelUp {
  width: 12pc;
  margin-right: 1pc;
  text-align: left;
  padding-left: 8px;
}
.insert-price-q {
  height: 80px;
}
.img-slider {
  width: 65px;
  height: 65px;
  margin-top: 1pc;
  margin-inline: 0.4pc;
}
.style-input-price {
  border: 1px solid#DFE4E8;
  height: 44px;
  border-radius: 10px;
  color: black;
  margin-right: 1pc;
  padding-left: 20px;
  border-radius: 8px;
  width: 12pc;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#cat-bar {
  bottom: -14px;
  left: -2px;
}
#DescripcionProdId {
  text-align: left;
  max-width: 30pc;
  min-width: 18pc;
}
/* fin check */
</style>
 <style scoped>
 
/* chekcbox tallas o atributos */
ul {
  padding: 0;
  margin: 0;
  clear: both;
}

li {
  list-style-type: none;
  list-style-position: outside;
  padding: 10px;
  float: left;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

input[type="checkbox"] + label {
  display: inline-block;
  padding: 1px;
  padding-inline: 8px;
  margin-inline: 3px;
  cursor: pointer;
  border: 1px solid #dfe4e8;
  color: black;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 7px;
}

input[type="checkbox"]:checked + label {
  border: 1px solid white;
  color: white;
  background-color: black;
}

 </style>