<template>
  <div class="row h-100 colFondo">
    <component :is="layout" v-if="layout">
      <div class="container-fluid p-3">
        <Cabecera titulo="Productos CX" mainRute="Productos">
          <div
            class="row justify-content-end"
            id="RowCrearProducto"
            style="text-align: center"
          >
            <router-link
              to="/productos/crear/"
              id="CrearProducto"
              class="btn btn-primary textButn hover-btn-blue"
            >
              Crear Producto
            </router-link>
          </div >
        </Cabecera>
        <div class="row mt-5 mx-4">
          <router-link
            v-for="(item,key) in items"
            :key="key"
            class="mx-4 my-4 textSub colFondo"
            style="width: 14rem"
            to="/productos/"
          > <div class="position-relative mx-4">
            <div class="div-img-prod ">
            <img
              id="img-prod"
              :src="item.image"
              class="card-img-top "
              alt="prodid"
            />
            </div>
            <div class="back-icon-prod centrar position-absolute">
            <img
              id="img-prod-cat"
              :src='item.categoria'
              alt="iconCat"
            />
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-nom-prod "> {{item.label}} </h5>
              <button class="butn-prod">$ {{item.price}}</button>
            
            </div>
 
            </router-link>
          
        </div>
      </div>
    </component>
  </div>
</template>

<script>
export default {
  layout: "default",
  components: {
    productosLayout: () => import("../../Layouts/productosLayout.vue"),
    Cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      layout: "productosLayout",
      Cabecera: "Cabecera",
      items: [
        {
          id: 1,
          image: require('../../assets/1 Camiseta.png'),
          categoria: '/img/tshirt-crew.svg',
          label: 'Kmisa',
          price:'130.000'
       
        },

        {
          id: 3,
          image: require('../../assets/Botella agua.jpg'),
          categoria: '/img/account.png',
          label: 'termito',
          price:'30.000'        
        },
      ],
    };
  },
};
</script>

<style>
#crearProducto {
  width: 180px;
  height: 40px;
}
#RowCrearProducto {
  text-align: right; 
}

.text-nodec{
  text-decoration: none;
}
.back-icon-prod{
background-color: #dfe4e8;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  right: 0px;
  top:0px;
  
}
#img-prod-cat {
  width: 25px;
  padding: 3px;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.butn-prod{
  text-decoration: none;
  width: auto;
  height: 100%;
  justify-content: center;
  padding-inline: 2px ;
  align-items: center;
  background: #57a0ff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  border: #57a0ff;
  color: white;
  font: normal normal bold 16px/20px ;
  letter-spacing: -1px;
  padding-inline: 15px;
}

.text-nom-prod{
color: var(--negro);
text-align: center;
font: normal normal medium 16px/20px Gilroy ☞;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

</style>