<template>
  <div class="row h-100 colFondo">
    <component :is="layout" v-if="layout">
      <div id="ContainerCrearAdmin" class="p-3">
        <Cabecera class="mt-5 "
          mainRute="Administradores"
          :ruta="admin.nombres + ' ' + admin.apellidos"
        />
        <div class="row ms-3">
        <div class="d-flex position-relative">
          <h1 style="font-size: 40px; font-weight:bold " class="text-capitalize text-title ">
            {{ admin.nombres + " " + admin.apellidos }}
          </h1>
          <img
            src="../../assets/icons/border-name-admin.svg"
            alt="border-name"
            class="position-absolute border-name"
          />
        </div>
        </div>
        
        <CardDescripcionAdmin :Administrador="admin" class="mt-4" />
      </div>
    </component>
  </div>
</template>
<script>
import axios from "../../services/user/auth.js";
export default {
  layout: "default",
  components: {
    productosLayout: () => import("../../Layouts/productosLayout.vue"),
    Cabecera: () => import("../../components/Cabecera.vue"),
    CardDescripcionAdmin: () => import("./Components/CardDescripcionAdmin.vue"),
  },
  data() {
    return {
      name: "administradoresid",
      layout: "productosLayout",
      Cabecera: "Cabecera",
      CardDescripcionAdmin: "CardDescripcionAdmin",
      
      admin: [],
    };
  },
  mounted() {
    this.infoAdmin();
  },
  methods: {
    async infoAdmin(id) {
      try {
        let id = this.$route.params.id;
        const { data } = await axios.traerAdmin(id);
        this.admin = data;
        console.log(this.admin);
      } catch (error) {
        return error;
      }
    },
  },
};
</script>
<style >
.border-name {
  width: 300px;
  height: 60px;
  bottom: -10px;
}
.text-title {
  color: black;
  font-size: 30px;
}
</style>

