<template>
  <div class="row h-100 colFondo">
    <component :is="layout" v-if="layout">
      <div id="ContainerAdministradores" class="containerfluid">
        <Cabecera titulo="Administradores CX" mainRute="Administradores">
          <div class="justify-content-center d-flex">
            <input
              id="input-buscador-admin"
              class="mx-2"
              placeholder="Buscar"
              v-model="buscar"
              type="text"
            />

            <router-link
              to="/administradores/crear"
              id="CrearAdministrador"
              class="btn btn-primary textButn hover-btn-blue text-nowrap"
            >
              Crear Administrador
            </router-link>
          </div>
        </Cabecera>
        <div class="row mt-5 mx-4">
          <div class="row" v-if="items ==''">
            <div
              id="equipos-vacio"
              class="d-flex justify-content-center align-items-center"
            >
              <img
                src="@/assets/icons/icon large - admin.svg"
                alt=""
                class="me-5 "
                style=" margin-top: 10%"
              />
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <h6 class="me-5">No hay administradores</h6>
            </div>
          </div>
          <div class="row" v-if="!admins.length">
            <div
              id="equipos-vacio"
              class="d-flex justify-content-center align-items-center"
            >
              <img src="@/assets/icons/icon large - admin.svg" alt="" class="me-5 " style=" margin-top: 10%" />
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <h6 class="me-5">No hay administradores creados</h6>
            </div>
          </div>
          <div class="row" v-if="admins.length">
            <router-link
              v-for="(admin, key) in items"
              :key="key"
              class="mx-4 my-4 textSub colFondo"
              style="width: 11rem"
              :to="{ name: 'DescripcionAdmin', params: { id: admin.id } }"
            >
              <div
                class="
                  cont-img-admin-border
                  max-img-admin
                  position-relative
                  d-flex
                "
              >
                <img
                  :src="admin.image"
                  class="card-img-top img-admin-desc"
                  alt="prodid"
                />
                <img
                  src="../../assets/icons/back - border - admin.svg"
                  class="back-img-admin position-absolute"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title" id="nombre-admin">
                  {{ admin.nombres }} {{ admin.apellidos }}
                </h5>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>
  <script>
import axios from "../../services/user/auth.js";
export default {
  layout: "default",
  components: {
    productosLayout: () => import("../../Layouts/productosLayout.vue"),
    Cabecera: () => import("../../components/Cabecera.vue"),
    CardDescripcionAdmin: () => import("./Components/CardDescripcionAdmin.vue"),
  },
  data() {
    return {
      layout: "productosLayout",
      Cabecera: "Cabecera",
      buscar: "",
      CardDescripcionAdmin: "CardDescripcionAdmin",
      admins:{
        type:Object,
        default:null,
      },
    };
  },
  created() {
    this.listar();
  },
  methods: {
    async listar() {
      try {
        const { data } = await axios.listarAdmins();
        this.admins = data;
        console.log(this.admins);
      } catch (error) {
        return error;
      }
    },
  },
  computed: {
    items() {
      if (this.buscar.length != "") {
        return this.admins.filter(
          (o) => o.nombres.toLowerCase().indexOf(this.buscar) > -1
         
        );
      } else {
        console.log(this.admins);
        return this.admins;
      }
    },
  },
};
</script>
  
<style>
.cont-img-admin-border {
  border-bottom: 7px solid #1c6ea4;
  border-left: 7px solid #1c6ea4;
  border-radius: 12px;
  border: #dfe4e8 solid 1px;
  transition: box-shadow 0.4s;
}
.cont-img-admin-border:hover {
  box-shadow: 0 0 30px rgba(26, 26, 26, 0.2);
}

#input-buscador-admin {
  border-radius: 30px;
  padding-inline-start: 10px;
  width: 200px;
  border: #DFE4E8 2px solid;
  color: #DFE4E8
}
.card-admin {
  border: #dfe4e8 solid 1px;
}
.filtro-dark-blue {
  filter: invert(11%) sepia(32%) saturate(4897%) hue-rotate(200deg)
    brightness(91%) contrast(105%);
}
.back-img-admin {
  width: 170px;
  height: 170px;
  left: -12px;
  bottom: -18px;
}
#nombre-admin {
  text-align: center;
  font: normal normal medium 17px/20px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.max-img-admin {
  width: 150px;
  height: 150px;
}
</style>

