<template>
  <div class="row h-100 colFondo p-0">
    <component :is="layout" v-if="layout">
      <validation-observer v-slot="{ invalid }">
        <div id="ContainerCrearAdmin" class="mt-5">
          <Cabecera
            titulo="Crear administrador"
            mainRute="Administradores"
            ruta="Crear Administrador"
            class="p-0"
          >
            <div id="divGuardarAdministrador" class="row">
              <button
                id="GuardarAdministrador"
                class="btn btn-primary textButn hover-btn-blue"
                @click="register"
                :disabled="invalid"
              >
                Guardar
              </button>
            </div>
          </Cabecera>
          <div class="container-fluid">
            <div class="row mt-5">
              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div id="AlingAdminImg" class="row justify-content-center">
                  <slim-cropper
                    ref="img_admin"
                    :options="slimOptions"
                    style="
                      width: 150px;
                      height: 150px;
                      margin-top: 25px;
                      margin-bottom: 2pc;
                    "
                  >
                    <input type="file" name="slim" />
                  </slim-cropper>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
                <div
                  class="row justify-content-center TextAling"
                  style="width: auto; margin-inline: auto"
                >
                  <label for="IdNombreAdmin" style="width: 400px"
                    >Nombres</label
                  >

                  <validation-provider rules="required|max:45" v-slot="{ errors }">
                    <div class="row justify-content-center">
                      <input
                        class="ClassInputCss"
                        type="text"
                        name="NombreAdmin"
                        id="IdNombreAdmin"
                        placeholder="Nombres"
                        v-model="nombres"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <div class="veeAlert">{{ errors[0] }}</div>
                    </div>
                  </validation-provider>
                </div>
                <div
                  class="row justify-content-center TextAling"
                  style="width: auto; margin-inline: auto"
                >
                  <label
                    for="IdApellidosAdmin"
                    class="margin-label-input"
                    style="width: 400px"
                    >Apellidos</label
                  >
                  <validation-provider rules="required|max:45" v-slot="{ errors }">
                    <div class="row justify-content-center">
                      <input
                        class="ClassInputCss"
                        type="text"
                        name="ApellidosAdmin"
                        id="IdApellidosAdmin"
                        placeholder="Apellidos"
                        v-model="apellidos"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <div class="veeAlert">{{ errors[0] }}</div>
                    </div>
                  </validation-provider>
                </div>

                <div
                  class="row justify-content-center TextAling"
                  style="width: auto; margin-inline: auto"
                >
                  <label
                    for="IdCorreoAdmin"
                    class="margin-label-input"
                    style="width: 400px"
                    >Correo electronicó</label
                  >
                  <validation-provider rules="required|email|max:45" v-slot="{ errors }">
                    <div class="row justify-content-center">
                      <input
                        class="ClassInputCss"
                        type="text"
                        name="CorreoAdmin"
                        id="IdCorreoAdmin"
                        placeholder="Correo electrónico"
                        v-model="email"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <div class="veeAlert">{{ errors[0] }}</div>
                    </div>
                  </validation-provider>
                </div>
                <div
                  class="row justify-content-center TextAling"
                  style="width: auto; margin-inline: auto"
                >
                  <label
                    for="IdPasswordAdmin"
                    class="margin-label-input"
                    style="width: 400px"
                    >Contraseña</label
                  >
                  <validation-provider rules="required|min:6" vid="confirmation" v-slot="{ errors }">
                    <div class="row justify-content-center">
                      <input
                        class="ClassInputCss"
                        type="password"
                        name="PasswordAdmin"
                        id="IdPasswordAdmin"
                        placeholder="Contraseña"
                        v-model="password"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <div class="veeAlert">{{ errors[0] }}</div>
                    </div>
                  </validation-provider>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
                <div
                  class="row justify-content-center TextAling"
                  style="width: auto; margin-inline: auto"
                >
                  <label
                    for="IdAcercaAdmin"
                    class="acercaAdmin"
                    style="width: 400px"
                  >
                    acerca del admin
                  </label>
                  <validation-provider rules="required|max:200" v-slot="{ errors }">
                    <div class="row justify-content-center">
                      <textarea
                        class="ClassDescripCss"
                        type="text"
                        name="AcercaAdmin"
                        id="IdAcercaAdmin"
                        placeholder="Acerca"
                        maxlength="200"
                        v-model="acerca"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <div class="veeAlert">{{ errors[0] }}</div>
                    </div>
                  </validation-provider>
                </div>
                <div
                  class="row justify-content-center TextAling"
                  style="width: auto; margin-inline: auto"
                >
                  <label
                    for="IdTelefonoAdmin"
                    class="margin-label-input"
                    style="width: 400px"
                    >Teléfono celular</label
                  >
                  <validation-provider rules="required|numeric|min:7|max:10" v-slot="{ errors }">
                    <div class="row justify-content-center">
                      <input
                        class="ClassInputCss"
                        type="text"
                        name="TelefonoAdmin"
                        id="IdTelefonoAdmin"
                        placeholder="Teléfono celular"
                        v-model="telefono"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <div class="veeAlert">{{ errors[0] }}</div>
                    </div>
                  </validation-provider>
                </div>
                <div
                  class="row justify-content-center TextAling"
                  style="width: auto; margin-inline: auto"
                >
                  <label
                    for="IdRePasswordAdmin"
                    class="margin-label-input"
                    style="width: 400px"
                    >Repetir contraseña</label
                  >
                  <validation-provider rules="required|confirmed:confirmation" v-slot="{ errors }">
                    <div class="row justify-content-center">
                      <input
                        class="ClassInputCss"
                        type="password"
                        name="RePasswordAdmin"
                        id="IdRePasswordAdmin"
                        v-model="repassword"
                        placeholder="Repetir contraseña"
                      />
                    </div>
                    <div class="row justify-content-center">
                      <div class="veeAlert">{{ errors[0] }}</div>
                    </div>
                  </validation-provider>
                </div>
              </div>
            </div>
          </div>
        </div>
      </validation-observer>
    </component>
  </div>
</template>


<script>
import auth from "../../services/user/auth.js";
export default {
  layout: "default",
  components: {
    productosLayout: () => import("../../Layouts/productosLayout.vue"),
    Cabecera: () => import("../../components/Cabecera.vue"),
  },
  data() {
    return {
      layout: "productosLayout",
      Cabecera: "Cabecera",
      slimOptions: {
        label: "Subir imagen",
      },
      nombres: "",
      apellidos: "",
      email: "",
      password: "",
      acerca: "",
      telefono: "",
      repassword: "",
    };
  },
  methods: {
    async register() {
      try {
        const form = {
          nombres: this.nombres,
          apellidos: this.apellidos,
          email: this.email,
          password: this.password,
          acerca: this.acerca,
          telefono: this.telefono,
          image: this.$refs.img_admin.instanciaCrop.dataBase64.output.image,
        };
        console.log(form);
        await auth.register(form);
        this.$router.push({ name: "administradores" });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>


<style scoped>
span {
  display: block;
}
</style>
