<template>
  <div>
    <!-- modal crear categoria -->
    <div
            class="
              div-itm-cat
              btn btn-primary
              opciones-categoria
              textButn
              hover-btn-blue
            "
            data-bs-toggle="modal"
            :data-bs-target="`#Modal-categoria-edit${Categoria.id}`"
          >
            <img
              class="filtro-white"
              src="@/assets/icons/icon - editar.svg"
              alt="editarCategoria"
            />
          </div>
    <div
      class="modal fade"
      :id="`Modal-categoria-edit${Categoria.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
  
             <div class="modal-dialog modal-dialog-centered">
        <validation-observer v-slot="{ invalid }">
          <div class="modal-content">
            <div class="modal-header">
              <div class="col-6 m-4">
                <h5 class="tituloForm">Crear categoría</h5>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
            </div>
            <div class="modal-body" style="width: 430px">
              <div class="col container-fluid form-categoria">
                <div class="row">
                  <label for="nombrecategoria" class="lbl-categoria"
                    >Nombre categoría</label
                  >
                  <validation-provider rules="required" v-slot="{ errors }">
                    <input
                      type="text"
                      id="nombreCategoria"
                      placeholder="Categoria"
                      class="inp-modal"
                      v-model="ObjEdit.name"
                    />
                    <div class="mb-5">{{ errors[0] }}</div>
                  </validation-provider>
                </div>
                <div class="row pos">
                  <label
                    for="Img_categoria"
                    style="padding-top: 12px; margin-left: 21px"
                    class="custom-input-file position-relative"
                  >
                    <slim-cropper
                      :options="slimOptions"
                      class="mx-auto my-3 position-absolute opacity-0"
                      ref="img_editar_categoria"
                      style="
                        width: 160px;
                        height: 40px;
                        top: -17px;
                        left: 0px;
                        border-radius: 4px;
                      "
                    >
                      <input type="file" name="slim" id="imagencat" />
                    </slim-cropper>
                    Click para subir icono
                  </label>
                  <div class="row">
                    <p
                      class="black texto-svg ms-3 mt-1"
                      style="font-size: 15px"
                    >
                      Solo archivos SVG con un tamaño menor a 500kb
                    </p>
                  </div>
                  <div>
                    <div class="ms-2"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary modal-dismiss style-but-modal"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary style-but-modal modal-submit"
                @click="updateCategoria"
                data-bs-dismiss="modal"
                :disabled="invalid"
              >
                Crear
              </button>
            </div>
          </div>
        </validation-observer>
      </div>
    </div>
    <!-- fin modal crear categoria --></div>
</template>

<script>
import axios from '@/services/categorias/CategoriaService.js'
export default {
  name:'modalEditarCat',
  data(){
    return{
      ObjEdit:{
        type: Object,
        default: null,
      },
      slimOptions: {
        label: "Subir imagen",
        ratio: "1:1",
      },
    };
  },
  props:{
    Categoria:{
      type: Object,
      default: null,
    }
  },
  methods:{
    async updateCategoria(id){
      try {
        const form ={
          imagencategoria : this.$refs.img_editar_categoria.instanciaCrop.dataBase64.output.image,
          nombrecategoria : this.ObjEdit.name,
          cantidad: '3',
          
        }
        let id = this.Categoria.id;
        console.log(form);
        const {data} = await axios.putCategoria(id,form);
        if (data.successfull == true) {
          this.$emit("resultado", true)
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
         }
      } catch (error) {
        console.log(error);
        
      }
      
    }
  },
  created(){
    this.ObjEdit={
      name:this.Categoria.nombrecategoria,
      imagen:this.Categoria.imagencategoria,
    }
  }
}
</script>

<style>

</style>