<template>
  <div>
    <div
      class="
        div-itm-cat
        btn btn-primary
        mx-2
        opciones-categoria
        textButn
        hover-btn-blue
      "
      data-bs-toggle="modal"
      :data-bs-target="`#Modal-categoria-delete${Categoria.id}`"
    >
      <img
        class="filtro-white"
        src="@/assets/icons/icon - Eliminar.svg"
        alt="eliminarCategoria"
      />
    </div>

    <div
      class="modal fade"
      :id="`Modal-categoria-delete${Categoria.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header ">
            <div class="col-6 m-4">
              <h5 class="tituloForm">Eliminar categoria</h5>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>

          <div class="modal-body m-3">¿Desea eliminar esta categoria?</div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary modal-dismiss style-but-modal"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>

            <button
              type="submit"
              class="btn btn-primary modal-submit style-but-modal"
              data-bs-dismiss="modal"
              @click="FeleiminarCategoria(Categoria.id)"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/services/categorias/CategoriaService.js";
export default {
  name: "modalEliminar",
  data() {
    return {};
  },
  props: {
    Categoria:{
      type: Object,
      default: null,
    }
  },
  methods: {
    async  FeleiminarCategoria(id) {
      try {
        const {data} = await axios.deleteCategoria(id);
        console.log(data);
        if (data.successfull == true) {
          this.$emit("resultado", true)
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style>
</style>