<template>
  <div>
    <div
      class="
        div-itm-cat
        btn btn-primary
        mx-2
        opciones-categoria
        textButn
        hover-btn-blue
      "
      data-bs-toggle="modal"
      :data-bs-target="`#Modal-var-delt${Variable.id}`"
    >
      <img
        class="filtro-white"
        src="@/assets/icons/icon - Eliminar.svg"
        alt="eliminarAtributp"
      />
    </div>
    <div
      class="modal fade"
      :id="`Modal-var-delt${Variable.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-6 m-4">
              <h5 class="tituloForm">Eliminar variable</h5>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>

          <div class="modal-body m-3">¿Desea eliminar esta variable?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary modal-dismiss style-but-modal"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="submit"
              class="btn btn-primary modal-submit style-but-modal"
              data-bs-dismiss="modal"
              @click="EliminarVariable(Variable.id)"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/services/variables/VariableService.js";
export default {
  name: "modalEliminarVar",
  data() {
    return {};
  },
  props: {
    Variable: {
      type: Object,
      default: null,
    },
  },
  methods: {
    async EliminarVariable(id) {
      try {
        const { data } = await axios.deleteVariable(id);
        console.log(data);
        if (data.successfull == true) { 
          this.$emit("resultado2", true);
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>