<template>
  <div>
    <div
      class="
        div-itm-cat
        btn btn-primary
        mx-2
        opciones-categoria
        textButn
        hover-btn-blue
      "
      data-bs-toggle="modal"
      :data-bs-target="`#Modal-var-edit${Variable.id}`"
    >
      <img
        class="filtro-white"
        src="@/assets/icons/icon - editar.svg"
        alt="editarVar"
      />
    </div>
    <div
      ref="modaleditar"
      class="modal fade"
      :id="`Modal-var-edit${Variable.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-6 m-4">
              <h5 class="tituloForm">Editar variable</h5>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
          <validation-observer v-slot="{ invalid }">
            <div class="modal-body">
              <div class="container-fluid form-categoria">
                <div class="mb-4">
                  <div>
                    <label for="nombreAtributo" class="lbl-Atributo"
                      >Valor</label
                    >
                  </div>

                  <validation-provider rules="required" v-slot="{ errors }">
                    <input
                      type="text"
                      id="nombreAtributo"
                      placeholder="Atributo"
                      class="inp-modal"
                      v-model="ObjEdit.name"
                    />
                    <div>{{ errors[0] }}</div>
                  </validation-provider>


                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary modal-dismiss style-but-modal"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                :disabled="invalid"
                type="submit"
                class="btn btn-primary modal-dismiss modal-submit"
                @click="UpdateVar"
                data-bs-dismiss="modal"
              >
                Editar
              </button>
            </div>
          </validation-observer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/services/variables/VariableService.js";

export default {
  name: "modalEditarVar",
  data() {
    return {
      ObjEdit: {
        type: Object,
        default: null,
      },
    };
  },
  props: {
    Variable: {
      type: Object,
      default: null,
    },
  },
  methods: {
    abrirModal() {
      this.$refs.modaleditar.toggle();
    },
    async UpdateVar() {
      try {
        const form = {
          valor: this.ObjEdit.name,
        };
        let id = this.Variable.id;
        console.log(form);
        const { data } = await axios.putVariable(id, form);
        if (data.successfull == true) {
          this.$emit("resultado2", true);
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
  created() {
    this.ObjEdit = {
      name: this.Variable.valor,
    };
  },
};
</script>

<style>
</style>