<template>
  <!-- modal crear variable -->
  <div>
    <div
      class="
        div-itm-cat
        btn btn-primary
        opciones-categoria
        color-plus-button
        mx-2
        hover-btn-dark-blue
      "
      data-bs-toggle="modal"
      :data-bs-target="`#Modal-aggvar${Atributo.id}`"
    >
      <img
        class="filtro-white"
        src="../../../../../assets/icons/icon - añadir.svg"
        alt="crearVariable"
      />
    </div>

    <div
      class="modal fade"
      :id="`Modal-aggvar${Atributo.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <validation-observer v-slot="{ invalid }">
            <div class="modal-header">
              <div class="col-6 m-4">
                <h5 class="tituloForm">Añadir variable</h5>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
            </div>

            <div class="modal-body">
              <div class="form-var">
                <div class="row justify-content-center mb-4">
                  <div class="row ">
                  <label for="valorvariable" class="lbl-Atributo"
                    >Añadir variable</label
                  >
                  </div>

                  <validation-provider rules="required" v-slot="{ errors }">
                    <input
                      type="text"
                      id="valorvariable"
                      placeholder="variable"
                      class="inp-modal"
                      v-model="valorVariable"
                    />
                    <div  >{{ errors[0] }}</div>
                  </validation-provider>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary modal-dismiss style-but-modal"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary modal-dismiss modal-submit"
                @click="crearVariable"
                data-bs-dismiss="modal"
                :disabled="invalid"
              >
                Añadir
              </button>
            </div>
          </validation-observer>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "../../../../../services/variables/VariableService.js";
export default {
  name: "ModalAgregarVariable",
  data() {
    return {
      valorVariable: "",
    };
  },
  props: {
    Atributo: {
      type: Object,
      default: null,
    },
  },
  methods: {
    async crearVariable() {
      try {
        const form = {
          valor: this.valorVariable,
          atributo_id: this.Atributo.id,
        };
        const { data } = await axios.storeVariable(form);
        this.valorVariable = "";
        console.log(data);
        if (data.successfull == true) {
          this.$emit("resultado2", true);
        }
      } catch (error) {}
    },
  },
};
</script>
