<template>
  <div style="margin-left: 24px" >
    <div class="row my-3 TextAling d-flex align-items-center">
      <h5>
        <span class="text-path "
          ><router-link
            to="/productos/"
            style="text-decoration: none; color: #57a0ff "
            >{{ mainRute }}
          </router-link></span
        ><img
          src="../assets/icons/icon - chevron.svg"
          style="transform: rotate(-90deg); width:15px;"
          class="mx-3 "
        />
        <span class="text-ruta style-path ">{{ ruta }}</span>
      </h5>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 row justify-content-start textProd">
        <div>
        <h1 class="ellipsis">{{ titulo }}</h1>
        </div>
      </div>
      <div class="col-12 col-sm-4" >
        <slot />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Default",
  props: {
    mainRute: String,
    titulo: String,
    ruta: String,
  },
};
</script>
