<template>
  <div class="container-fluid h-100 login justify-content-center">
    <div class="row mt-5">
      <div class="cl-auto">
        <div class="container mt-5">
          <div class="row mx-auto">
            <img
              class="logo-img"
              src="../assets/logo-productos1.svg"
              alt="logoPrincipal"
            />
          </div>
          <div class="row textIni"><span>Iniciar Sesión</span></div>
          <div class="d-flex align-items-center inputCredenciales form-input">
            <img
              src="../assets/icons/icon - usuario.svg"
              class="icon-cred filtro-gray"
              alt="logo-input-user"
            />
            <input
              autocomplete="off"
              v-model="email"
              type="email"
              class="back-input-border"
              placeholder="Usuario"
            />
            <img
              id="validado"
              v-bind:style="[
                valido == true
                  ? { visibility: 'visible' }
                  : { visibility: 'hidden' },
              ]"
              src="../assets/icons/iconoValidar.svg"
              class="icon-validator"
            />
          </div>
          <div class="d-flex align-items-center inputCredenciales form-input">
            <img
              src="../assets/icons/icon - pass.svg"
              class="icon-cred filtro-gray"
              alt=""
            />
            <input
              autocomplete="off"
              v-model="password"
              type="password"
              class="back-input-border"
              placeholder="contraseña"
            />
          </div>
          <div class="d-flex">
            <button
              class="btn btn-primary textButn w-10 but-login hover-btn-blue"
              @click="login"
            >
              Ingresar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import auth from "../services/user/auth.js";

export default {
  data() {
    return {
      email: "",
      password: "",
      error: false,
      valido: false,
    };
  },
  watch: {
    email(value) {
      this.email = value;
      this.validarEmail(value);
    },
  },
  methods: {
    validarEmail(value) {
      if (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value)) {
        this.valido = true;
      } else {
        this.valido = false;
      }
    },
    async login() {
      try {
        const form = {
          email: this.email,
          password: this.password,
        };
        let response = await auth.login(form);
        console.log(response);
        localStorage.setItem("accesToken", response.data.access_token);
        this.$router.push({ name: "LoginCarga" });
      } catch (error) {
        this.error = true;
      }
    },
  },
};
</script>


<style>
.icon-validator {
  filter: invert(67%) sepia(26%) saturate(1134%) hue-rotate(99deg)
    brightness(98%) contrast(92%);
  margin-left: 15px;
}
.icon-cred {
  width: 25px;
  height: 25px;
  margin-inline: 7px;
}
.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-input-border {
  border: none;
  outline: none;
  color: black;
  width: 340px;
}

.login {
  background-image: url("../assets/productos - Login.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-attachment: fixed;
}

.inputCredenciales {
  top: 353px;
  left: 468px;
  width: 430px;
  height: 40px;
  border: 1px solid var(--gris-claro-borde);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  opacity: 1;
  margin-bottom: 16px;
}
.cred-style {
  height: 40px;
  border: 1px solid var(--gris-claro-borde);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  opacity: 1;
  margin-bottom: 16px;
}

.textIni {
  text-align: center;
  font: normal normal bold 30px/38px Gilroy ☞;
  letter-spacing: 0px;
  color: #002351;
  opacity: 1;
  margin-top: 38px;
  margin-bottom: 12.86px;
}
#botonLog {
  top: 465px;
  left: 468px;
  width: 430px;
  height: 40px;
  background: var(--principal-productos) 0% 0% no-repeat padding-box;
  background: #57a0ff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.logo-img {
  top: 101px;
  left: 606px;
  width: 195;
  height: 200px;
  opacity: 1;
}
.TextAling {
  text-align: left;
}
.TextTitle {
  text-align: left;
  font: normal normal bold 28px/35px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 29px;
}

.textProd {
  height: 43px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.colFondo {
  background: #f6f9fb 0% 0% no-repeat padding-box;
  border: none;
}
.text-path {
  color: #57a0ff;
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;
}

.text-ruta {
  color: grey;
  font: normal normal 200 20px Gilroy ☞;
}
.sing-ruta {
  color: #060607;
}
.ClassInputCss {
  width: 400px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  opacity: 1;

}

.TextTitle {
  text-align: left;
  font: normal normal bold 28px/35px Gilroy ☞;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 29px;
}


.text-ruta {
  color: grey;
}
.sing-ruta {
  color: #060607;
}
.textButn {
  text-decoration: none;
  width: 180px;
  height: 40px;
  background: #57a0ff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  border: #57a0ff;
}
.textSub {
  text-decoration: none;
  color: black;
}
.textProd {
  height: 43px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.colFondo {
  background: #f6f9fb 0% 0% no-repeat padding-box;
  border: none;
}

#IdImageAdmin {
  background: #dfe4e8 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 150px;
  height: 150px;
}
.ClassDescripCss {
  width: 400px;
  height: 142px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  opacity: 1;
}
.margin-label-input{
margin-top:38px;
}
#AlingAdminImg {
  font-size: 18px;
  margin: auto;
}
.AlingBoton {
  text-align: left;
}
.hover-btn-dark-blue {
  transition: box-shadow 0.4s;
}
.hover-btn-dark-blue:hover {
  background: #002351 0% 0% no-repeat padding-box;
  border: #002351 solid 1px;
  box-shadow: 0 0 10px rgb(168, 168, 168);
}

.hover-btn-blue {
  transition: box-shadow 0.4s;
}
.hover-btn-blue:hover {
  background: #57a0ff;
  border: #57a0ff;
  box-shadow: 0 0 10px rgb(168, 168, 168);
}
.but-login {
  width: 430px;
  height: 40px;
}
.black {
  color: black;
}
.inp-modal {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dfe4e8;
  border-radius: 8px;
  padding-inline: 10px;
  opacity: 1;
  width: 330px;
  height: 36px;
}
.custom-input-file {
  font-size: 12px;
    width: 160px ;
    color: white;
    border-radius: 4px;
  height: 40px;
  background: #57A0FF;
  border: 1px #57A0FF solid;
    display: inline-block;   
    cursor: pointer;
}
@media (min-width: 575px) {
  #divGuardarAdministrador {
    justify-content: end;
  }
  .veeAlert {
    width: 400px;
  }
}
@media (max-width: 576px) {
  #divGuardarAdministrador {
    justify-content: start;
    margin-left: 1pc;
  }
}
@media (max-width: 767px) {
  .acercaAdmin {
    margin-top: 38px;
  }
  #label-select-atributos{
    margin-top: 38px;
  }
}
@media (min-width: 576) {
}
.veeAlert {
  color: red;
}
</style>


