<template>
  <div class="row p-0 centrar h-100 colFondo">
       <img src="../assets/logo-productos1.svg" class="logoDelay " >
  </div>
</template>

<script>
export default {
  name: "LoginCarga",
  data() {
    return {
      message: "Welcome, Please Wait....",
    };
  },
  methods: {
    callFunction: function () {
      var v = this;
      setTimeout(function () {
        v.$router.push({ name: "productos" });
      }, 2000);
    },
  },
  mounted() {
    this.callFunction();
  },
};
</script>
<style scoped>
.logoDelay{
     height: 40%;
     width: 40%;
}
</style>