<template>
     <div class="d-flex div-cat mt-5 " style="margin-left: 75px" >
        <div class="d-flex cont-1">
          <div class="div-itm-cat back-icono-cat d-flex align-items-center justify-content-center">
            <img
              class="icon-categoria"
              :src=Categoria.imagencategoria
              alt="IconoCategoriaProd"
            />
          </div>
          <div class="div-itm-cat mx-2">
            <input
              class="text-categoria"
              :value=Categoria.nombrecategoria
              disabled="»disabled»"
            />
          </div>
        </div>
        <div class="d-flex cont-2">
          
          <modal-editar-cat :Categoria="Categoria" v-on:resultado="confirmacion"/>

          <modal-eliminar-cat :Categoria="Categoria" v-on:resultado="confirmacion"/>
         
          <div class="div-itm-cat centrar">
            <input
              disabled="»disabled»"
              class="opciones-categoria btn btn-primary text-gray"
              style="
                background: #dfe4e8 0% 0%;
                border: #dfe4e8 solid;
                color: #637381;
              "
              :value=Categoria.cantidad
            />
          </div>
       <!-- modal editar categoria -->
    <!-- fin modal editar categoria -->

        </div>
      </div>
      
</template>
<script>
import ModalEditarCat from '../modals/Categorias/modalEditarCat.vue';

import modalEliminarCat from '../modals/Categorias/modalEliminarCat.vue';
export default {
  components: { modalEliminarCat, ModalEditarCat },
    name:'categoriaComp',
    data() {
        return{
  
        };
    },props:{
      Categoria: {
      type: Object,
      default: null,
    },
    },
    methods:{
      confirmacion(check){
        if (check) {
          this.$emit("resultado", true);
        }
      },
    }
};
</script>