<template>
  <div>
    <div>
      <div
        class="mt-4 d-flex justify-content-between"
        style="margin-left: 40px; width: 660px"
      >
        <div class="textProd">
          <h1>Categorías</h1>
        </div>
        <div class="row AlingBoton justify-content-center">
          <button
            id="GuardarAdministrador"
            class="btn btn-primary textButn hover-btn-blue"
            data-bs-toggle="modal"
            data-bs-target="#ModalCrearCategoria"
          >
            Crear Categoría
          </button>
        </div>
      </div>

      <!-- comp categorias -->
      <categoria-comp
        v-for="(categoria, index) in categorias"
        :key="index"
        :Categoria="categoria"
        v-on:resultado="confirmacion"
      />
    </div>

    <!-- modal crear categoria -->
    <div
      class="modal fade"
      id="ModalCrearCategoria"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <validation-observer v-slot="{ invalid }">
          <div class="modal-content">
            <div class="modal-header">
              <div class="col-6 m-4">
                <h5 class="tituloForm">Crear categoría</h5>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
            </div>
            <div class="modal-body" style="width: 430px">
              <div class="col container-fluid form-categoria">
                <div class="row">
                  <label for="nombrecategoria" class="lbl-categoria"
                    >Nombre categoría</label
                  >
                  <validation-provider rules="required" v-slot="{ errors }">
                    <input
                      type="text"
                      id="nombreCategoria"
                      placeholder="Categoria"
                      class="inp-modal"
                      v-model="nombreCategoria"
                    />
                    <div class="mb-5">{{ errors[0] }}</div>
                  </validation-provider>
                </div>
                <div class="row pos">
                  <label
                    for="Img_categoria"
                    style="padding-top: 12px; margin-left: 21px"
                    class="custom-input-file position-relative"
                  >
                    <slim-cropper
                      :options="slimOptions"
                      class="mx-auto my-3 position-absolute opacity-0"
                      ref="img_editar_categoria"
                      style="
                        width: 160px;
                        height: 40px;
                        top: -17px;
                        left: 0px;
                        border-radius: 4px;
                      "
                    >
                      <input type="file" name="slim" id="imagencat" />
                    </slim-cropper>
                    Click para subir icono
                  </label>
                  <div class="row">
                    <p
                      class="black texto-svg ms-3 mt-1"
                      style="font-size: 15px"
                    >
                      Solo archivos SVG con un tamaño menor a 500kb
                    </p>
                  </div>
                  <div>
                    <div class="ms-2"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary modal-dismiss style-but-modal"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary style-but-modal modal-submit"
                @click="registrarCategoria"
                data-bs-dismiss="modal"
                :disabled="invalid"
              >
                Crear
              </button>
            </div>
          </div>
        </validation-observer>
      </div>
    </div>
    <!-- fin modal crear categoria -->
  </div>
</template>
<script>
import axios from "@/services/categorias/CategoriaService.js";
import categoriaComp from "../Categorias/categoriaComp.vue";
export default {
  components: { categoriaComp },
  name: "Categorias",
  data() {
    return {
      nombreCategoria: "",
      imagenCategoria: "",
      cantidad: "3",
      slimOptions: {
        label: "Subir imagen",
        ratio: "1:1",
      },
      categorias: [],
      fotico: "",
    };
  },
  mounted() {
    this.listarCategorias();
  
  },
  
  methods: {
    async registrarCategoria() {
      try {
        const form = {
          imagenCategoria: this.$refs.img_editar_categoria.instanciaCrop.dataBase64.output .image,
          nombreCategoria: this.nombreCategoria,
          cantidad: this.cantidad,
        };
        console.log(form);
        console.log(
          this.$refs.img_editar_categoria.instanciaCrop.dataBase64.output.name
        );
        const { data } = await axios.storeCategoria(form);
        this.listarCategorias();
      } catch (error) {
        console.log(error);
      }
    },
    confirmacion(check) {
      if (check) {
        this.listarCategorias();
      }
    },
    
    async listarCategorias() {
      try {
        const { data } = await axios.indexCategoria();
        this.categorias = data;
      } catch (error) {
        return error;
      }
    },
  },
};
</script>

<style>
.modal-dismiss {
  background: #d5e7ff;
  border: none;
  color: #1467d2;
}
.style-but-modal {
  width: 90px;
  height: 40px;
  margin-top: -5px;
  margin-bottom: -5px;
}
.modal-submit {
  background-color: #57a0ff;
  border: none;
  color: #ffffff;
  margin-top: -5px;
  margin-bottom: -5px;
}
.modal-footer {
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, white, #d5e7ff, white) 1;
}
.modal-header {
  background: #f8fbff;
  height: 70px;
  border: none;
  color: #000000;
  text-align: left;
  font-family: normal normal medium 17px/20px;

  letter-spacing: -0.42px;
}

.texto-svg {
  text-align: left;
  font: normal normal medium 14px/16px Gilroy ☞;
  letter-spacing: -0.35px;
}
</style>


