<template>
  <div>
    <div
      class="
        div-itm-cat
        btn btn-primary
        mx-2
        opciones-categoria
        textButn
        hover-btn-blue
      "
      data-bs-toggle="modal"
      :data-bs-target="`#Modal-atri-delt${Atributo.id}`"
    >
      <img
        class="filtro-white"
        src="@/assets/icons/icon - Eliminar.svg"
        alt="eliminarAtributp"
      />
    </div>
    <div
      class="modal fade"
      :id="`Modal-atri-delt${Atributo.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-6 m-4">
              <h5 class="tituloForm">Eliminar atributo</h5>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
  
          <div v-if="Atributo.variables_count == 0" class="modal-body m-3">
            ¿Desea eliminar este atributo?
          </div>
          <div v-if="Atributo.variables_count > 0" class="modal-body m-3">
            El atributo tiene {{ Atributo.variables_count }} variable(s), aun
            desea eliminarlo?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary modal-dismiss style-but-modal"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="submit"
              class="btn btn-primary modal-submit style-but-modal"
              data-bs-dismiss="modal"
              @click="EliminarAtributo(Atributo.id)"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/services/atributos/atributoService.js";
export default {
  name: "modalEliminarAtributo",
  data() {
    return {};
  },
  props: {
    Atributo: {
      type: Object,
      default: null,
    },
  },
  methods: {
    async EliminarAtributo(id) {
      try {
        const { data } = await axios.deleteAtributo(id);
        console.log(data);
        if (data.successfull == true) {
          this.$emit("resultado2", true);
        }
      } catch (error) {
        return error;
      }
    },
  },
};
</script>