<template>
  <div>
    <div
      class="
        div-itm-cat
        btn btn-primary
        opciones-categoria
        textButn
        hover-btn-blue
      "
      data-bs-toggle="modal"
      :data-bs-target="`#Modal-atributo-edit${Atributo.id}`"
     
    >
      <img
        class="filtro-white"
        src="@/assets/icons/icon - editar.svg"
        alt="editarAtributo"
      />
    </div>

    <div
      class="modal fade"
      :id="`Modal-atributo-edit${Atributo.id}`"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <validation-observer v-slot="{ invalid }">
          <div class="modal-content">
            <div class="modal-header">
              <div class="col-6 m-4">
                <h5 class="tituloForm">Crear categoría</h5>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  @click="objEdit.name=Atributo.nombreatributo"
                ></button>
              </div>
            </div>
            <div class="modal-body">
              <div class="container-fluid form-categoria">
                <div class="mb-4">
                  <label for="nombreAtributo" class="lbl-Atributo"
                    >Nombre categoría</label
                  ><validation-provider rules="required" v-slot="{ errors }">
                    <input
                      type="text"
                      id="nombreAtributo"
                      placeholder="Atributo"
                      class="inp-modal"
                      v-model="objEdit.name"
                    />
                    <div>{{ errors[0] }}</div>
                  </validation-provider>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary modal-dismiss style-but-modal"
                data-bs-dismiss="modal"
                @click="objEdit.name=Atributo.nombreatributo"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary style-but-modal modal-submit"
                @click="updateAtributo()"
                data-bs-dismiss="modal"
                :disabled="invalid"
              >
                Editar
              </button>
            </div>
          </div>
        </validation-observer>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/services/atributos/atributoService.js";
export default {
  name: "modalEditarAtri",
  data() {
    return {
      objEdit:{},
    };
  },
  props: {
    Atributo: {
      type: Object,
      default: null,
    },
  },

  methods: {
    async updateAtributo(id) {
      try {
        const form = {
          nombreatributo: this.objEdit.name,
        };
        console.log(form);
        const { data } = await axios.putAtributo(this.Atributo.id, form);
        if (data.successfull == true) {
          this.$emit("resultado2", true);
        } else if (data.successfull == false) {
          this.errores = data.mensajes;
          console.log(this.errores);
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
  created(){
    this.objEdit={
      name: this.Atributo.nombreatributo,
    }
  }
};
</script>

<style>
</style>