<template>
  <div>
    <!-- container atributos -->
    <div id="Cont-atributo mb-5" style="margin-left: 25px">
      <!-- parte atributos -->

      <div class="d-flex div-cat mt-5 mx-5">
        <div class="d-flex cont-1">
          <div class="div-itm-cat">
            <input
              type="text"
              id="input-atributo"
              disabled="»disabled»"
              v-model="Atributo.nombreatributo"
            />
          </div>
          <div class="div-itm-cat mx-2"></div>
        </div>
        <div class="d-flex cont-2">
          <modal-agregar-var
            :Atributo="Atributo"
            @resultado2="confirmacionAtributo"
          />
          <modal-editar-atri :Atributo="Atributo" @resultado2="confirmacionAtributo"/>

          <modal-eliminar-atri :Atributo="Atributo" @resultado2="confirmacionAtributo"/>

          <div class="div-itm-cat centrar">
            <input
              disabled="»disabled»"
              class="opciones-categoria btn btn-primary text-gray"
              style="
                background: #dfe4e8 0% 0%;
                border: #dfe4e8 solid;
                color: #637381;
              "
              value="5"
            />
          </div>
        </div>
      </div>
      <!-- fin parte atributos -->
      <draggable tag="ul" :list="Atributo.variables" handle=".handle">
        <variable-comp
          class="handle"
          v-for="(variable, index) in Atributo.variables"
          :key="index"
          :Variable="variable"
          @resultado2="confirmacionAtributo"
        />
      </draggable>
    </div>
    <!-- fin container atributos -->
  </div>
</template>
<script>
import ModalAgregarVar from "../modals/Variables/modalAgregarVar.vue";
import variableComp from "./variableComp.vue";
import draggable from "vuedraggable";
import ModalEditarAtri from '../modals/Atributos/ModalEditarAtri.vue';
import ModalEliminarAtri from '../modals/Atributos/ModalEliminarAtri.vue';
export default {
  components: {
    variableComp,
    ModalAgregarVar,
    draggable,
    ModalEditarAtri,
    ModalEliminarAtri,
  },
  name: "atributosComp",
  data() {
    return {};
  },
  props: {
    Atributo: {
      type: Object,
      default: null,
    },
  },
  methods: {
    confirmacionAtributo(check) {
      console.log("primer emit");
      if (check) {
        this.$emit("resultado2", true);
      }
    },
  },
};
</script>