<template>
  <div>
    <div
      class="mt-4 d-flex justify-content-between"
      style="margin-left: 45px; width: 610px"
    >
      <h1 class="textProd">Atributos</h1>
      <div class="row AlingBoton justify-content-center">
        <button
          id="guardarAtributo"
          class="btn btn-primary textButn hover-btn-blue"
          data-bs-toggle="modal"
          data-bs-target="#ModalStoreAtributo"
        >
          Crear Atributo
        </button>
      </div>
    </div>
    <!-- atributoscomp -->
    <atributo-comp
      v-for="(Atributo, index) in Atributos"
      :key="index"
      :Atributo="Atributo"
      @resultado2="confirmacionAtributo"
    />

    
    <!-- modal Crear Atributo -->

    <div
      class="modal fade"
      id="ModalStoreAtributo"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <validation-observer v-slot="{ invalid }">
            <div class="modal-header">
              <div class="col-6 m-4">
                <h5 class="tituloForm">Crear Atributo</h5>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
            </div>
            <div class="modal-body">
              <div class="container-fluid form-Atributo">
                <div class="mb-4">
                  <div class="row">
                    <label for="nombreAtributo" class="lbl-Atributo"
                      >Nombre del atributo</label
                    >
                  </div>
                  <validation-provider rules="required" v-slot="{ errors }">
                    <input
                      type="text"
                      id="nombreAtributo"
                      placeholder="Atributo"
                      class="inp-modal"
                      v-model="nombreAtributo"
                    />
                    <div>{{ errors[0] }}</div>
                  </validation-provider>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary modal-dismiss style-but-modal"
                data-bs-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary textButn modal-submit style-but-modal"
                @click="CrearAtributo"
                data-bs-dismiss="modal"
                :disabled="invalid"
              >
                Crear
              </button>
            </div>
          </validation-observer>
        </div>
      </div>
    </div>

    <!-- fin modal Crear Atributo -->
  </div>
</template>
<script>
import axios from "@/services/atributos/atributoService.js";
import ModalEditarAtri from "../modals/Atributos/ModalEditarAtri.vue";
import ModalAgregarVar from "../modals/Variables/modalAgregarVar.vue";
import ModalEliminarAtri from "../modals/Atributos/ModalEliminarAtri.vue";
export default {
  name: "Atributos",
  components: {
    AtributoComp: () => import("./atributoComp.vue"),
    ModalEditarAtri,
    ModalAgregarVar,
    ModalEliminarAtri,
  },
  data() {
    return {
      nombreAtributo: "",
      atributosComp: "atributoscomp",
      Atributos: [],
      editAtributo: {},
      deleteAtributo: {},
    };
  },
  mounted() {
    this.listarAtributos();
    console.log(this.Atributos);
  },
  methods: {
    async listarAtributos() {
      const { data } = await axios.indexAtributo();
      this.Atributos = data;
      console.log(this.Atributos);
    },
    async CrearAtributo() {
      try {
        const form = {
          nombreatributo: this.nombreAtributo,
        };
        const { data } = await axios.storeAtributo(form);
        this.nombreAtributo = "";
        this.listarAtributos();
      } catch (error) {}
    },
    confirmacionAtributo(check) {
      console.log("segundo emit");
      if (check) {
        this.listarAtributos();
      }
    },
    EditmodalAtri(value) {
      this.editAtributo = value;
    },
    DeletmodalAtri(value) {
      this.deleteAtributo = value;
    },
  },
};
</script>
