<template>
  <div>
    <!-- parte valor atributos -->
    <div class="d-flex div-val mx-5 mt-3">
      <div class="d-flex cont-1">
        <div class="div-itm-cat d-flex">
          <img
            class="icon-dragable filtro-gray"
            src="@/assets/icons/icon - dragable.svg"
            alt="IconoCategoriaProd"
          />
        </div>
        <div class="div-itm-cat mx-2 d-flex align-items-center">
          <input
            class="text-value"
            v-model="Variable.valor"
            disabled="»disabled»"
          />
        </div>
      </div>

      <!-- modal Editar Var -->
      <modal-editar-var
        :Variable="Variable"
        @resultado2="confirmacionAtributo"
      />

      <!-- modal eliminar Var -->

      <modal-eliminar-var
        :Variable="Variable"
        @resultado2="confirmacionAtributo"
      />
    </div>
  </div>
  <!-- fin parte valor atributos -->
</template>

<script>
import modalEditarVar from "../modals/Variables/modalEditarVar.vue";
import ModalEliminarVar from "../modals/Variables/modalEliminarVar.vue";
export default {
  components: { modalEditarVar, ModalEliminarVar },
  name: "variablesComp",
  data() {
    return {};
  },
  props: {
    Variable: {
      type: Object,
      default: null,
    },
  },
  methods: {
    confirmacionAtributo(check) {
      if (check) {
        this.$emit("resultado2", true);
      }
    },
  },
};
</script>

