<template>
  <div>
    <div class="card card-atributo">
      <div class="container d-flex head-atributo centrar black" style="">
        Nombre atributo
        <img src="@/assets/icons/icon - Eliminar.svg" alt="" />
      </div>
      <div class="container body-atributo">
        <div
          v-for="(variable, index) in Atributo.variables"
          :key="index"
          class="my-1"
        >
          <input
            type="checkbox"
            class="checkbox-variables"
            :id="variable.nombreatributo + key"
            :value="variable.nombreatributo"
          />
          <label :for="variable.nombreatributo + key" class="mx-2"
            >{{ variable.nombreatributo }}
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
 name: "card-atributo",
  data() {
    return {};
  },
  props: {
    Atributo:{
      type: Object,
      default: null,
    }
  },
};
</script>

<style>
</style>