<template>
  <div id="app">
    
    <router-view/>
  </div>
</template>
<script>

const requireContext = require.context('./Layouts', false, /.*\.vue$/)
const layouts = requireContext.keys().map(file => [file.replace(/(^.\/)|(\.vue$)/g, ''), requireContext(file)]).reduce((components, [name, component]) => {
    components[name] = component.default || component
    return components
}, {})
export default{
  

  data(){
    return {
      layout: null,
      defaultLayout: 'default'
      
    }
    
  },
  methods:{
    setLayout(layout){
            if (!layout || !layouts[layout]){
                layout = this.defaultLayout
            }
            this.layout = layouts[layout]
        },
  },
}
</script>
<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
