<template>
  <div class="p-0 ms-3">
    <div id="menuNav" class="position-fixed h-100 ">
      <div style="margin-top: 30px">
        <img
          id="logoMenu"
          class="img-fluid mx-2 logo p-0"
          alt="Vue logo"
          src="../assets/logo-productos2.svg"
        />
      </div>
      <div class="cont-mid-items mt-5">
        <div
          class="mt-3 row"
          v-for="(icon, index) in icons"
          :key="icon.id"
          
          
        >
          <div>
            <router-link :to="(icon.ruta)" 
            >
            
              <img
              v-on:click="markIconEvent($event, index)"
              v-bind:class="$route.path.includes(icon.name) ? 'Iconactive' : ' '"
               
                class="
                  img-fluid
                  iconM
                  mx-auto
                  px-auto
                  btn
                  filtro-gray
                  Hover-item-lyt
                "
                :src="(icon.image)"
                
                
              /> </router-link
            ><br />
            <span class="spanTextColor">{{icon.label}}</span>
          </div>
        </div>
      </div>
      <div class="cont-bot-items position-fixed ml-cont ms-3">
        <div class="container-flex">
          <router-link to="/administradores/id">
            <div >
              <img
                class="img-fluid iconM giga chad"
                alt="Vue logo"
                src="../assets/admingSide.jpeg"
                
              />
            </div>
            <div>
              <img
                src="../assets/icons/icon - chevron.svg"
                class="filtro-gray"
                alt="chulito"
              />
            </div>
          </router-link>
        </div>

        <div class="container-flex mt-4 logo-coex">
          <img
            class="img-fluid chad my-2"
            alt="coexLogo"
            src="../assets/logo-coex.svg"
          />
        </div>
      </div>
    </div>
    <div class="col-11" style="padding-left: 100px">
      <slot />
    </div>
  </div>
</template>
<script>
export default {
  name: "Default",
  data() {
    return {
      bacgarun: "false",
      icons: [
        {
          id: 1,
          image: require('../assets/icons/icon - producto.svg'),
          label: 'Productos',
          Iconmark: true,
          ruta: '/productos/',
          name: 'productos',
       
        },
        {
          id: 2,
          image: require('../assets/icons/icon - usuario.svg'),
          label: 'Admin',
          Iconmark: false,
          ruta: '/administradores/',
          name: 'administradores',
         
        },
        {
          id: 3,
          image:require('../assets/icons/Icon - configurar.svg'),
          label: 'configurar',
          Iconmark: false,
          ruta: '/configuraciones/',
          name: 'configuraciones',         
        },
      ],
    };
  },
  methods: {
    markIconEvent($event, index) {
      this.icons.forEach(icon => icon.Iconmark = false)
      this.icons[index].Iconmark = !this.icons[index].Iconmark;
    },
    
  },
};
</script>
<style>
#menuNav {
  background-color: white;
  border-right: 0.5px solid;
  border-color: rgb(212, 212, 212);
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}
.giga {
  height: 40px;
  width: 50px;
  margin: auto;
  border: #637381 1px solid;
  border-radius: 15px;
}
.iconM {
  height: 50px;
  width: 50px;
  margin: auto;
  margin-top: 5;
  margin-bottom: 5px;
}
.logo {
  height: 60px;
  width: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.chad {
  height: 50px;
  width: 50px;
}
.spanTextColor {
  font-size: 11px;
  color: #637381;
}

.cont-bot-items {
  bottom: 0px;
  left: 0px;
}

.ml-cont {
  margin-left: 12px;
}
/* filtros svg */
.filtro-white {
  filter: invert(100%) sepia(0%) saturate(1910%) hue-rotate(37deg)
    brightness(113%) contrast(101%);
}
.filtro-gray {
  filter: invert(45%) sepia(8%) saturate(958%) hue-rotate(166deg)
    brightness(93%) contrast(81%);
}

.logo-coex {
  margin-bottom: 5px;
  border-radius: 50px;
}

.Hover-item-lyt:hover {
  filter: invert(100%);
  background: #a85f00;
}
.Iconactive {
  filter: invert(100%);
  background: #a85f00;
}

</style>
